.img-1 {
  height: 75x;
  width: 75px;
}
.container {
  text-align: center;
  border: 10px;
  border-color: red;
  margin-top:5px;
  margin-bottom:5px;
  margin-left:5px;
  margin-right:5px;

}

.sides_img{
  border: 10px;
  border-color: black;
}

.btn_style{
  /* border-radius: 100%; */
  margin-top:1px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 40px;
  text-align: right;
  height: 35px;
}

.c1{
  background-color: burlywood;
}

.c2{
  background-color: DodgerBlue;
}

.items_sides{
  margin-top:5px;

}

.hide {
  display: none;
}
    
.myDIV:hover + .hide {
  display: block;
  color: red;
}

a:hover{
  color: read;
}

.btn_more{
  margin-left: 94%;
}
